<h1>C application to grade student programs and present and grade student tests</h1>

<%= form_tag do %>
  Form contents
      <ul class='listing'>
      <div class='row'>
        <div class='well col-md-4 col-md-offset-4'>
          <li class='article-title'>
              <%= radio_button_tag(:age, "child") %>
              <%= label_tag(:age_child, "I am younger than 21") %>
              <%= radio_button_tag(:age, "adult") %>
              <%= label_tag(:age_adult, "I'm over 21") %>
          </li>
          <li class='article-title'>
            <b>1.</b> Consider the directory tree shown on the last page of this exam.<br>
            Assume that the current directory is <b>me</b>.<br>
            <br>
            <b>a.</b> Write a command to create a subdirectory of <b>me</b> called <b>proj06</b>.<br>
            <%= text_area_tag(:solution_1a, "Solution: mkdir proj06", size: "80x3") %>
            <br><br>
            <b>b.</b> Write a command to copy the file <b>example_fun</b> to the
            newly created directory <b>proj06</b>.<br>
            <i>Use an absolute path to access <b>example_fun</b></i>.<br>
            <%= text_area_tag(:solution_1b, "Solution: cp /home/cs352/example_fun proj06", size: "80x3") %>
            <br><br>
            <b>c.</b> Write a command to copy the file <b>test_fun</b> to the newly 
            created directory <b>proj06</b>.<br>
            <i>Use a relative path to access <b>test_fun</b></i>.<br>
            <%= text_area_tag(:solution_1c, "Solution: cp ../cs352/test_fun proj06", size: "80x3") %>
          </li>          
        </div>
      </div>
    </ul>
<% end %>
<%= link_to 'About', pages_about_path %>