<h1>C application to grade student programs and present and grade student tests</h1>

<%= form_tag do %>
      <ol class='listing'>
      <div class='row'>
        <div class='well col-md-7 col-md-offset-1'>
          <li class='article-body'>
            Consider the directory tree shown below.<br>
            <%= image_tag("FileSystem.png") %><br>
            Assume that the current directory is <b>me</b>.<br>
            <br>
            <div class='col-md-offset-1'>
              <ol class='inner-listing'>
                <li class='article-body'>
                  Write a command to create a subdirectory of <b>me</b> called <b>proj06</b>.<br>
                  <%= text_area_tag(:solution_1a, "Solution: mkdir proj06", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  Write a command to copy the file <b>example_fun</b> to the
                  newly created directory <b>proj06</b>.<br>
                  <i>Use an absolute path to access <b>example_fun</b></i>.<br>
                  <%= text_area_tag(:solution_1b, "Solution: cp /home/cs352/example_fun proj06", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  Write a command to copy the file <b>test_fun</b> to the newly 
                  created directory <b>proj06</b>.<br>
                  <i>Use a relative path to access <b>test_fun</b></i>.<br>
                  <%= text_area_tag(:solution_1c, "Solution: cp ../cs352/test_fun proj06", size: "80x3") %>
                </li>
                <li class='article-body'>
                  Write a command to make the newly created directory <b>proj6</b>, the working directory.<br>
                  <%= text_area_tag(:solution_1a, "Solution: cd proj06", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  You have now created a new source code file named <b>fun.c</b>, write a command to create an executable 
                  called <b>fun</b> from it. Be sure your command checks for warnings.<br>
                  <%= text_area_tag(:solution_1b, "Solution: gcc -Wall fun.c -o fun", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  Assume both <b>fun</b> and <b>example_fun</b> read from stdin and write to stdout. Write commands to compare the 
                  outputs of these two programs when given inputs <b>test_fun</b> (all these files are in the current directory).<br>
                  <%= text_area_tag(:solution_1c, "Solution: \ncp ../cs352/test_fun proj06\nfun < test_fun > mine.log\nexample_fun < test_fun > example.log\ndiff example.log mine.log", size: "80x5") %>
                </li>
              </ol>
            </div>
          </li>          
          <li class='article-body'>
            Suppose that the following declarations are in effect:
            int a[8];<br>
            a[0] = 7;<br>
            a[1] = 3;<br>
            a[2] = 21;<br>
            a[3] = 14;<br>
            a[4] = 5;<br>
            a[5] = 20;<br>
            a[6] = 9;<br>
            a[7] = 11;<br>
            int *p = a, *q = &a[6];<br>
            <br>
            <div class='col-md-offset-1'>
              <ol class='inner-listing'>
                <li class='article-body'>
                  What is the value of *(p+3)?<br>
                  <%= text_area_tag(:solution_1a, "Solution: 14", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  What is the value of *(q-3)?<br>
                  <%= text_area_tag(:solution_1b, "Solution: 14", size: "80x3") %>
                  <br><br>
                </li>
                <li class='article-body'>
                  Is the condition *p < *q true or false?<br>
                  <%= text_area_tag(:solution_1c, "Solution: true", size: "80x3") %>
                </li>
                <li class='article-body'>
                  After the following statements are executed what are<br>
                  the values of the array a?<br>
                  *p = *q – 1;<br>
                  p += 1;<br>
                  *p = *(q - 1);<br>
                  p = p + 2;<br>
                  (*p)++;<br>
                  <%= text_area_tag(:solution_1b, "Solution: 7  3  21 14 5  20 9  11\np                 q\n8  3  21 14 5  20 9  11      // *p = *q – 1;\np                 q\n8  3  21 14 5  20 9  11      // p += 1;\np              q\n8  20 21 14 5  20 9  11      // *p = *(q - 1);\np              q\n8  20 21 14 5  20 9  11      // p = p + 2;\np        q\n8  20 21 15 5  20 9  11      // (*p)++;\np        q", size: "80x12", class: article-program) %>
                  <br><br>
                </li>
              </ol>
            </div>
          </li>          
        </div>
      </div>
    </ol>
<% end %>
<%= link_to 'About', pages_about_path %>